<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NopCommerce">
    <listeners>
        <listener class-name="com.NopCom.utilities.Reporting">

        </listener>
    </listeners>
    <test name="Login Test">
        <parameter name="Browser" value="Edge"/>
        <classes>
            <class name="com.NopCom.testCases.TC_Login_001"/>
<!--            <class name="com.NopCom.testCases.TC_LoginDDT_002"/>-->
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->